{% load static %}
<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block extracss %}
    
    {% endblock %}
    <script defer src="{% static 'fontawesome/js/all.min.js' %}"></script>
</head>
<body>
    {% block header %}

    {% endblock %}

    {% block messages %}
        {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-dismissable alert-danger position-static" role="alert" style="border-radius: 0">
            {% elif message.tags == "warning" %}
                <div class="alert alert-dismissable alert-warning position-static" role="alert" style="border-radius: 0">
            {% elif message.tags == "success" %}
                <div class="alert alert-dismissable alert-success position-static" role="alert" style="border-radius: 0">
            {% elif message.tags == "info" %}
                <div class="alert alert-dismissable alert-primary position-static" role="alert" style="border-radius: 0">
            {% endif %}
                <div class="row justify-content-center">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endblock %}
    
    {% block content %}
    
    {% endblock %}
    
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
    {% block extrajs %}

    {% endblock %}
</body>