{% extends 'layouts/list_template.html' %}
{% load static %}

{% block actions %}
    <a href="#" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Create new campaign</a>
{% endblock %}

{% block list %}
<table class="table card-table table-borderless table-vcenter mt-3">
    <tr>
        <th class="text-left d-none d-md-table-cell text-nowrap">Brand Name</th>
        <th class="text-left d-none d-md-table-cell text-nowrap">Brand Attributes</th>
        <th class="text-left d-none d-md-table-cell text-nowrap">Campaign Brief</th>
        <th class="text-left d-none d-md-table-cell text-nowrap">Campaign Budget</th>
        <th></th>
    </tr>
    <tbody>
        {% for item in object_list %}
            <tr>
                <td class="text-left d-none d-md-table-cell text-nowrap">{{ item.brand_name }}</td>
                <td class="text-left d-none d-md-table-cell text-nowrap">{{ item.brand_attributes }}</td>
                <td class="text-left d-none d-md-table-cell text-nowrap">{{ item.campaign_brief }}</td>
                <td class="text-left d-none d-md-table-cell text-nowrap">{{ item.campaign_budget }}</td>
                <td class="text-right d-none d-md-table-cell text-nowrap">
                    <a href="#" class="btn btn-secondary btn-sm"> Edit</a>
                    <a href="#" class="btn btn-info btn-sm"> Details </a>
                </td>
            </tr>
            {% empty %}
            <tr>    
                <td align="center" colspan="6" class="align-content-center">No campaigns have been created. Would you like to <a href="#" class="add-btn">add a new one?</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock%}