{% extends 'layouts/list.html' %}
{% load static %}
{% block title %}
    <title>AIfluence.com | Contracts</title>
{% endblock %}

{% block table_title %}
    Contracts
{% endblock %}

{% block list %}
{% csrf_token %}
<table class="table table-borderless table-vcenter mt-3">
    <thead class="border-bottom">
        <th class="text-left d-md-table-cell text-nowrap">Campaign</th>
        <th class="text-left d-md-table-cell text-nowrap">Agent</th>
        <th class="text-left d-md-table-cell text-nowrap">Terms</th>
        <th class="text-left d-md-table-cell text-nowrap">Status</th>
        <th></th>
    </thead>
    <tbody>
        {% for item in contract_list %}
        <tr class="border-bottom">
            <td class="text-left d-md-table-cell text-nowrap align-middle">{{ item.discussion.campaign }}</td>
            <td class="text-left d-md-table-cell text-nowrap align-middle">{{ item.discussion.campaign.agent }}</td>
            <td class="text-left d-md-table-cell text-nowrap align-middle">{{ item.contract_terms }}</td>
            <td class="text-left d-md-table-cell text-nowrap align-middle">{{ item.get_contract_status_display }}</td>
            <td class="text-right d-md-table-cell text-nowrap ">
                <a href="#" class="btn btn-info btn-sm mt-1" style="width:120px;"> View </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock%}

{% block table_footer %}
    <a href="{% url 'dashboard' %}" class="btn btn-secondary btn-sm text-white float-right">Back</a>
{% endblock %}

{% block extrajs %}
{% endblock %}