

{% extends 'layouts/dashboard.html' %}
{% load static %}
{% block content %}
    {% csrf_token %}

    <link rel="shortcut icon" href="https://quickblox.com/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">

    <script src="{% static 'chat/js/navigo.min.js' %}" defer></script>
    <script src="{% static 'chat/js/underscore.js' %}" defer></script>
    <script src="{% static 'chat/js/quickblox.js' %}" defer></script>
    <div id="page">

    </div>
    <input type="hidden" id="username_" value="{{ username }}">
    <input type="hidden" id="chat_session_token" value="{{ chat_session_token }}">
    <input type="hidden" id="chat_id" value="{{ chat_id }}">
    <input type="hidden" id="type" value="{{ type }}">
    <input type="hidden" id="from_to" value="{{ from_to }}">

    <!-- Underscore templates  -->
    <script type="text/template" id="tpl_login">
        <div class="login__wrapper">
            <div class="login__container">
                <div class="login__inner">
                    <div class="login__top">
                        <a href="https://quickblox.com/" class="login__logo">
                            <img src="{% static 'chat/img/qb-logo.svg' %}" alt="QuickBlox">]
                        </a>
                        <h1>Quickblox Chat Sample</h1>
                        <h3>Please enter your Login and User name</h3>
                    </div>

                    <form name="loginForm" class="login__form">
                        <div class="login_form__row">
                            <label for="userLogin">Login</label>
                            <input
                                type="text"
                                id="userLogin"
                                name="userLogin"
                                minlength="3"
                                maxlength="15"
                                pattern='^[a-zA-Z]{1}[a-zA-Z0-9]+$'
                                title="Field should contain alphanumeric characters only in a range 3-15. The first character must be a letter."
                                required
                            />
                        </div>
                        <div class="login_form__row">
                            <label for="userName">User name</label>
                            <input type="text" id="userName" name="userName" minlength="3" maxlength="15" required />
                        </div>
                        <div class="login__button_wrap">
                            <button type="submit" name="login_submit" class="btn m-login__button j-login__button" disabled>
                                login
                            </button>
                        </div>
                    </form>
                </div>
                <div class="login__footer">
                    <div class="footer__logo_wrap">
                        <a href="https://quickblox.com/" class="footer__logo">
                            <img src="{% static 'chat/img/qb-logo-grey.svg' %}" alt="QuickBlox">
                        </a>
                        <p>by QuickBlox</p>
                    </div>
                    <span class="footer__version">v. <%= version %></span>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="tpl_dashboardContainer">
        <div class="dashboard">
            <div class="sidebar j-sidebar active">
                <div class="sidebar__inner">
                    <div class="sidebar__header">
                        <!-- <a href="https://quickblox.com/" class="dashboard__logo">
                            <img src="{% static "chat/img/qb-logo.svg" %}" alt="QuickBlox">
                        </a> -->
                        <div class="dashboard__status_wrap">
                            <p class="dashboard__status j-dashboard_status">
                                <% user.name %>
                            </p>
                        </div>
                        <!-- <a href="#" class="logout j-logout">logout</a> -->
                    </div>
                    <div class="sidebar__content">
                        <ul class="sidebar__tabs">
                            <li class="sidebar__tab">
                                <a href="#" class="sidebar__tab_link j-sidebar__tab_link <% tabName === 'chat' ? print('active') : '' %>" data-type="chat">chats</a>
                            </li>
                            <li class="sidebar__tab">
                                <a href="#" class="sidebar__tab_link j-sidebar__tab_link <% tabName === 'public' ? print('active') : '' %>" data-type="public">public chats</a>
                            </li>
                            <li class="sidebar__tab m-sidebar__tab_new">
                                <a href="#!/dialog/create" class="sidebar__tab_link j-sidebar__create_dialog m-sidebar__tab_link_new" data-type="create">
                                    <i class="material-icons">add_circle_outline</i>
                                </a>
                            </li>
                        </ul>
                        <ul class="sidebar__dilog_list j-sidebar__dilog_list">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content j-content">
            </div>
        </div>
    </script>

    <script  type="text/template" id="tpl_welcome">
        <div class="content__title j-content__title j-welcome">
            <!-- Welcome to QuickBlox chat sample! -->
        </div>
        <div class="notifications j-notifications hidden"></div>
        <div class="content__inner j-content__inner">
            <div class="welcome__message">
                <!-- <p>Please select you opponent to start chatting.</p> -->
            </div>
        </div>
    </script>

    <script type="text/template" id="tpl_userConversations">
        <li class="dialog__item j-dialog__item" id="<%= dialog._id %>" data-name="<%- dialog.name %>">
            <a class="dialog__item_link" href="#!/dialog/<%= dialog._id %>">
                <span class="dialog__avatar m-user__img_<%= dialog.color %> m-type_<%= dialog.type === 2 ? 'group' : 'chat' %>" >
                    <% if(dialog.type === 2) { %>
                        <i class="material-icons">supervisor_account</i>
                    <% } else { %>
                        <i class="material-icons">account_circle</i>
                    <% } %>
                </span>
                <span class="dialog__info">
                    <span class="dialog__name"><%- dialog.name %></span>
                    <span class=""><%- dialog.campaign_brief %></span>
                    <span class="dialog__last_message j-dialog__last_message <%= dialog.attachment ? 'attachment' : ''%>"><%- dialog.last_message %>
                    </span>
                </span>
                <span class="dialog_additional_info">
                    <span class="dialog__last_message_date j-dialog__last_message_date">
                        <%= dialog.last_message_date_sent %>
                    </span>
                    <span class="dialog_unread_counter j-dialog_unread_counter <% !dialog.unread_messages_count ? print('hidden') : '' %>">
                        <% dialog.unread_messages_count ? print(dialog.unread_messages_count) : '' %>
                    </span>
                </span>
            </a>
        </li>
    </script>

    <script type="text/template" id="tpl_conversationContainer">
        <div class="content__title j-content__title j-dialog">
            <button class="open_sidebar j-open_sidebar"></button>
            <p class="dialog__title j-dialog__title"><% print(title) %></p>
            <% if (from_to == "AI") { %>
                <a class="btn btn-sm text-white bg-primary" id="open_offer_modal" data-id="<%- discussion_id %>" style="padding: 5px;"><i class="fa fa-plus"></i>Offer Contract</a>
            <% } %>
            <div class="action_links">
                <a href="#!/dialog/<%- _id %>/edit" class="add_to_dialog j-add_to_dialog <% type !== 2 ? print('hidden') : ''%>">
                    <i class="material-icons">person_add</i>
                </a>
                <a href="#" class="quit_fom_dialog_link j-quit_fom_dialog_link <% type === 1 ? print('hidden') : ''%>" data-dialog="<%- _id %>">
                    <!-- <i class="material-icons">delete</i> -->
                </a>
            </div>
        </div>
        <div class="notifications j-notifications hidden"></div>
        <div class="content__inner j-content__inner">
            <div class=" messages j-messages"></div>
            <form name="send_message" class="send_message" autocomplete="off">
                    <textarea name="message_feald" class="message_feald" id="message_feald" autocomplete="off"
                              autocorrect="off" autocapitalize="off" placeholder="Type a message" autofocus></textarea>
                <div class="message__actions">
                    <div class="attachments_preview j-attachments_preview"></div>
                    <label for="attach_btn" class="attach_btn">
                        <i class="material-icons">attachment</i>
                        <input type="file" id="attach_btn" name="attach_file" class="attach_input" accept="image/*"/>
                    </label>
                    <button class="send_btn">send</button>
                </div>
            </form>
        </div>
        <div id="offer_modal" class="modal fade" tabindex="-2" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="id_contract_title">Title*</label> <br/>
                        <input placeholder="" class="textarea form-control mb-2" id="id_contract_title"/>
                            <div class="invalid-title invalid-feedback">
                                This field is required!
                            </div>
                        <label for="id_contract_budget">Terms*</label> <br/>
                            <textarea name="message" cols="500" rows="10" maxlength="4000" placeholder="" class="textarea form-control mb-2" id="id_contract_terms"></textarea>
                            <div class="invalid-terms invalid-feedback">
                                This field is required!
                            </div>
                        <label for="id_contract_budget">Budget* </label> <br/>
                            {% if description.campaign.campaign_currency == 'usd' %}${% else %}€{% endif %} <input type="number" id="id_contract_budget"/>
                            <div class="invalid-budget invalid-feedback">
                                This field is required!
                            </div>
                            <div class="invalid-budget-number invalid-feedback">
                                This field must be number!
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn text-white bg-primary" id="offer_btn" data-id="<%- discussion_id %>">Offer Contract</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="agreement_modal" class="modal fade" tabindex="-2" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <label for="id_contract_comment">Comment*</label> <br/>
                            <textarea name="message" cols="500" rows="10" maxlength="4000" placeholder="" class="textarea form-control mb-2" id="id_contract_comment"></textarea>
                            <div class="invalid-contract-agreement invalid-feedback">
                                This field is required!
                            </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-end">
                        <button type="button" class="btn text-white bg-primary contract-agreement-btn" id="accept_contract_btn" data-id="">Accept</button>
                        <button type="button" class="btn btn-secondary contract-agreement-btn" id="decline_contract_btn" data-id="">Decline</button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="tpl_UpdateDialogContainer">
        <div class="content__title j-content__title update_dialog__header j-update_dialog">
            <a href="#!/dialog/<%- _id %>" class="back_to_dialog j-back_to_dialog">
                <i class="material-icons">arrow_back</i>
            </a>
            <form action="#" name="update_chat_name" class="update_chat_name_form">
                <input type="text" name="update_chat__title" class="update_chat__title_input j-update_chat__title_input" value="<%- title %>" disabled>
                <button type="button" class="update_chat__title_button j-update_chat__title_button">
                    <i class="material-icons m-user_icon">create</i>
                </button>
            </form>
        </div>
        <div class="notifications j-notifications hidden"></div>
        <div class="content__inner j-content__inner">
            <div class="group_chat__filter">
                <input type="text" autocomplete="off" autocorrect="off" placeholder="Filter by User name" />
            </div>
            <p class="update__chat__description"><span class="update__chat_counter j-update__chat_counter">0</span>&nbsp;user selected:</p>
            <div class="update_chat__user_list j-update_chat__user_list">
            </div>
            <form action="" name="update_dialog" class="dialog_form m_dialog_form_update j-update_dialog_form">
                <button type="button" class="btn m-update_dialog_btn_cancel j-update_dialog_btn_cancel" name="update_dialog_cancel">cancel</button>
                <button class="btn m-update_dialog_btn j-update_dialog_btn"  type="submit" name="update_dialog_submit" disabled>add member</button>
            </form>
        </div>
    </script>

    <script type="text/template" id="tpl_editChatUser">
        <div class="user__item <% selected ? print('disabled selected') : ''%>" id="<%= id %>">
            <span class="user__avatar m-user__img_<%= color %>">
                <i class="material-icons m-user_icon">account_circle</i>
            </span>
            <div class="user__details">
                <p class="user__name"><%= name %></p>
                <% if (last_request_at) { %>
                <p class="user__last_seen"><%= last_request_at %></p>
                <% } %>
            </div>
        </div>
    </script>

    <script type="text/template" id="tpl_date_message">
        <div class="message__wrap message__wrap__date" id="<%=month+'-'+date.getDate()%>" >
            <div class="center">
                <%= month+ ' ' + date.getDate() %>
            </div>
        </div>
    </script>

    <script type="text/template" id="tpl_message">

            <div class="message__wrap" id="<%= message.id %>" data-status="<%= message.status %>">
                <% if (!message.is_sent) { %>
                <span class="message__avatar m-user__img_<%= sender ? sender.color : 'not_loaded' %>">
                    <i class="material-icons">account_circle</i>
                </span>
                 <!-- <p class="message__sender_name"><%- sender ? sender.name : 'unknown user (' + message.sender_id + ')' %></p> -->

                <% } %>
                <div class="message__content">
                    <div class="message__sender_and_status">
                        <% if (!message.is_sent) { %>
                        <div class="message__timestamp">
                            <%- sender ? sender.name : 'unknown user (' + message.sender_id + ')' %> - <%= message.date_sent %>
                        </div>
                        <% } %>
                        <% if (message.is_sent) { %>
                        <div class="message__timestamp">
                            <%= message.date_sent %>
                        </div>
                        <% } %>

                    </div>
                    <div class="message__text_and_date">
                        <div class="message__text_wrap">
                            <% if (message.message) { %>
                            <p class="message__text <% message.is_sent ? print('message__text__sent') : print('message__text__received') %>"><%
                                print(message.message)
                                %>
                            </p>
                            <% } %>
                            <% if (message.attachments.length) { %>
                            <div class="message__attachments_wtap">
                                <% _.each(message.attachments, function(attachment){ %>
                                <img src="<%= attachment.src %>" alt="attachment" class="message_attachment">
                                <% }); %>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% if (message.is_sent) { %>
                <div style="display : flex; flex-flow: column;">
                    <span class="message__avatar m-user__img_<%= sender ? sender.color : 'not_loaded' %>">
                        <i class="material-icons">account_circle</i>
                    </span>
                    <!-- <div style="flex : 1 0;"></div>
                    <p class="message__status j-message__status" style="display : none;">><%= message.status %></p>
                    <span class="message__avatar">
                        <i class="material-icons check">remove_red_eye</i>
                    </span> -->
                </div>
                <% } %>
            </div>
    </script>

    <script type="text/template" id="tpl_notificationMessage">
        <div class="message__wrap" id="<%= id %>">
            <p class="m-notification_message"><%= text %></p>
            <div class="message__timestamp">
                <%= date_sent %>
            </div>
        </div>
    </script>

    <script type="text/template" id="tpl_newGroupChat">
        <div class="content__title j-content__title j-create_dialog">
            <button class="back_to_dialog j-back_to_dialog">
                <i class="material-icons">arrow_back</i>
            </button>
            <h1 class="group_chat__title">New Group Chat</h1>
        </div>
        <div class="notifications j-notifications hidden"></div>
        <div class="content__inner j-content__inner">
            <div class="group_chat__filter">
                <input type="text" autocomplete="off" autocorrect="off" placeholder="Filter by User name" />
            </div>
            <p class="group__chat__description">Select participants:</p>
            <div class="group_chat__user_list j-group_chat__user_list">
            </div>
            <form action="" name="create_dialog" class="dialog_form m-dialog_form_create j-create_dialog_form">
                <input class="dialog_name" name="dialog_name" type="text"  autocomplete="off"
                       autocorrect="off" autocapitalize="off" placeholder="Add conversation name" disabled>
                <button class="btn m-create_dialog_btn j-create_dialog_btn"  type="submit" name="create_dialog_submit" disabled>create</button>
            </form>
        </div>
    </script>

    <script type="text/template" id="tpl_newGroupChatUser">
        <div class="user__item <% user.selected ? print('disabled selected') : ''%>" id="<%= user.id %>">
            <span class="user__avatar m-user__img_<%= user.color %>">
                <i class="material-icons m-user_icon">account_circle</i>
            </span>
            <div class="user__details">
                <p class="user__name"><%- user.name %></p>
                <% if (user.last_request_at) { %>
                <p class="user__last_seen"><%= user.last_request_at %></p>
                <% } %>
            </div>
        </div>
    </script>

    <script type="text/template" id="tpl_message__typing">
        <div class="message__wrap m-typing j-istyping" id="is__typing">
            <% _.each(users, function(user){  %>
                <span class="message__avatar <%- typeof user === 'number' ? 'm-typing_unknown m-typing_' + user : 'm-user__img_' + user.color %>">
                    <i class="material-icons">account_circle</i>
                </span>
            <% }); %>
            <% if (users.length){ %>
            <div id="fountainG">
                <div id="fountainG_1" class="fountainG"></div>
                <div id="fountainG_2" class="fountainG"></div>
                <div id="fountainG_3" class="fountainG"></div>
            </div>
            <% } %>
        </div>
    </script>

    <script type="text/template" id="tpl_attachmentPreview">
        <div class="attachment_preview__wrap m-loading" id="<%= id %>">
            <img class="attachment_preview__item" src="<%= src %>">
        </div>
    </script>

    <script type="text/template" id="tpl_attachmentLoadError">
        <p class="attachment__error">Can't load attachment...</p>
    </script>

    <script type="text/template" id="tpl_lost_connection">
        <div class="titile">Waiting for network.</div>
        <div class="spinner"><img src="img/loader2.gif" alt="wating"></div>
    </script>

    <script type="text/template" id="tpl_loading">
        <div class="loading__wrapper">
            <div class="loading_inner">
                <img class="loading__logo" src="{% static 'logo.png' %}" alt="QB_logo">
                <p class="loading__description">Loading...</p>
            </div>
        </div>
    </script>

    <script>
        $(document).ready(function(){
            $.ajaxSetup({
                headers: { 'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() }
            });
            $('body').on('click', '#open_offer_modal', function(){
                $(".invalid-terms").css('display', 'none');
                $(".invalid-budget").css('display', 'none');
                $(".invalid-budget-number").css('display', 'none');
                $(".invalid-title").css('display', 'none');
                $("#id_contract_title").val("")
                $("#id_contract_terms").val("")
                $("#id_contract_budget").val("")
                $("#offer_modal").modal('show');
            });
            $("body").on('click', "#offer_btn", function(){
                if ($("#id_contract_title").val() == "") {
                    $(".invalid-title").css('display', 'block');
                    return false;
                }

                if ($("#id_contract_terms").val() == "") {
                    $(".invalid-terms").css('display', 'block');
                    return false;
                }

                if ($("#id_contract_budget").val() == "") {
                    $(".invalid-budget").css('display', 'block');
                    return false;
                }

                if (isNaN($("#id_contract_budget").val())) {
                    $(".invalid-budget-number").css('display', 'block');
                    return false;
                }

                var currency = '€';
                {% if description.campaign.campaign_currency == 'usd' %}
                    currency = '$';
                {% else %}
                    currency = '€';
                {% endif %}

                var contract_offer_message = 'Contract <span class="text-info">' + $("#id_contract_title").val() + '</span> offered!<br/><br/>Terms: ' +
                                            $("#id_contract_terms").val() + '<br/> Budget: ' +
                                            currency + $("#id_contract_budget").val();
                $.ajax({
                    url: "/messages/channels/create",
                    method: "post",
                    data: {
                        'discussion_id': $('#open_offer_modal').attr('data-id'),
                        'dialog_id': dialogModule.dialogId,
                        'content': contract_offer_message,
                        'title': $("#id_contract_title").val(),
                        'terms': $("#id_contract_terms").val(),
                        'type': 'CO',
                        'budget': $("#id_contract_budget").val(),
                    },
                    success: function(data) {
                        $("#id_message").val("");
                        $('#send_btn').addClass('disabled');
                        // $(".message-body").html(data);
                        // $(".scroll-div").scrollTop($(".scroll-div").prop("scrollHeight"));
                        $("#offer_modal").modal('hide');
                        var contractId = data;
                        var messageBody = contract_offer_message + '<br/>You can accept or decline this offer <a href="javascript:console.log("test")" onclick="contract_agree(this)" data-id=' + contractId + '>here</a>!';

                        messageModule.submitSendMessage(dialogModule.dialogId, messageBody, true);
                        // document.forms.send_message.message_feald.focus();
                    }
                });

            });
            $('body').on('click', '.contract-agreement-btn', function() {
                if ($("#id_contract_comment").val() == "" ) {
                    $(".invalid-contract-agreement").css('display', 'block');
                    return false;
                }

                var agreement = 1;
                if ($(this).attr('id') == 'decline_contract_btn') {
                    agreement = 0;
                }

                $.ajax({
                    url: "/campaigns/contracts/offer/" + $(this).attr('data-id') + "/agreement",
                    data: {
                        'agreement' : agreement,
                        'comment' : $("#id_contract_comment").val(),
                        // 'message_id' : $(this).attr('data-message'),
                    },
                    method: 'post',
                    success: function(data){
                        $("#agreement_modal").modal('hide');
                        // $(".message-body").html(data);
                        // $(".scroll-div").scrollTop($(".scroll-div").prop("scrollHeight"));

                        var messageBody = data;
                        messageModule.submitSendMessage(dialogModule.dialogId, messageBody, true);

                        // document.forms.send_message.message_feald.focus();
                    }
                })
            });
        });
        function contract_agree(e) {
            if (document.querySelector('#from_to').value != 'IA') {
                // app.isDashboardLoaded = false;
                return;
            }
            var contract_id = $(e).data("id");
            // var message_id = $(e).parent().attr('data-id');
            $("#accept_contract_btn").attr("data-id", contract_id);
            $("#decline_contract_btn").attr("data-id", contract_id);
            // $("#accept_contract_btn").attr("data-message", message_id);
            // $("#decline_contract_btn").attr("data-message", message_id);
            $(".invalid-contract-agreement").css('display', 'none');
            $("#id_contract_comment").val("");
            $("#agreement_modal").modal('show');
        }
    </script>

    <script src="{% static 'chat/js/constants.js' %}" defer></script>
    <script src="{% static 'chat/js/QBconfig.js' %}" defer></script>
    <script src="{% static 'chat/js/user.js' %}" defer></script>
    <script src="{% static 'chat/js/dialog.js' %}" defer></script>
    <script src="{% static 'chat/js/message.js' %}" defer></script>
    <script src="{% static 'chat/js/listeners.js' %}" defer></script>
    <script src="{% static 'chat/js/helpers.js' %}" defer></script>
    <script src="{% static 'chat/js/app.js' %}" defer></script>
    <script src="{% static 'chat/js/login.js' %}" defer></script>
    <script src="{% static 'chat/js/route.js' %}"defer></script>
{% endblock %}

{% block extrajs %}
{% endblock %}
