{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="page">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mx-auto">
                    {% if is_invited %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            If you have already registered, just login and fill out the {{ invitation.get_influencer_platform_display }} profile.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    {% endif %}
                    <form action="{% url 'register' %}" method="post" class="card">
                        {% csrf_token %}
                        {% if invitation_key %}
                        <input type="hidden" id="invitation_key" name="invitation_key" value="{{invitation_key}}">
                        {% endif %}
                        <div class="card-body p-6">
                            <div class="form-group mb-0">
                                {{ form.first_name|as_crispy_field }}
                            </div>
                            <div class="form-group mb-0">
                                {{ form.last_name|as_crispy_field }}
                            </div>
                            <div class="form-group mb-0">
                                {{ form.username|as_crispy_field }}
                            </div>
                            <div class="form-group mb-0">
                                {{ form.email|as_crispy_field }}
                            </div>
                            <div class="form-group mb-0">
                                {{ form.password1|as_crispy_field }}
                            </div>
                            <div class="form-group mb-0">
                                {{ form.password2|as_crispy_field }}
                            </div>
                            {% if invitation_key %}
                            <input type="hidden" name="is_client" value="0">
                            {% else %}
                            <div class="form-group text-center">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary btn-userrole">
                                        <input type="radio" name="is_client" id="id_client" value="1" autocomplete="off" > Work as Client
                                    </label>
                                    <label class="btn btn-secondary btn-userrole {{invitation_key|yesno:'active focus,,'}}">
                                        <input type="radio" name="is_client" id="id_influencer" value="0" autocomplete="off"> Work as Influencer
                                    </label>
                                </div>
                                <div class="invalid-feedback">
                                    You must select one of them!
                                </div>
                            </div>
                            {% endif %}
                            
                            <input type="submit" value="Sign Up" class="btn btn-primary btn-block w-50 m-auto">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        $(document).ready(function(){
            $().button('toggle');
            $("form").submit(function(event){
                if($("#invitation_key").length == 0){
                    if (!$("input[name='is_client']:checked").val()) {
                        $(".invalid-feedback").css('display', 'block')
                        return false;
                    }
                }
            })
        });
    </script>
{% endblock %}