{% load static %}
<ul class="navbar-nav ml-auto">
    <li class="nav-item {% if menu == 'home' %} active {% endif %}">
        <a class="nav-link" href="{% url 'dashboard' %}">Home </a>
    </li>
    <li class="nav-item {% if menu == 'contracts' %} active {% endif %}">
        <a class="nav-link" href="{% url 'contract_list' %}">Contracts</a>
    </li>
    <li class="nav-item {% if menu == 'invitations' %} active {% endif %}">
        <a class="nav-link" href="{% url 'influencer_invitations' %}">Invitations</a>
    </li>
    <!-- <li class="nav-item {% if menu == 'messages' %} active {% endif %}">
        <a class="nav-link" href="{% url 'message_list' %}">Discussions{% if numOfInfluencerMessage > 0 %}<span class="custom-notification position-absolute text-white" id="discussion_notify">{{numOfInfluencerMessage}}</span>{% endif %}</a>
    </li> -->
    <li class="nav-item {% if menu == 'IA' %} active {% endif %}">
        <a class="nav-link" href="{% url 'IA' %}">Discussions</a>
    </li>
    <li class="nav-item {% if menu == 'profile' %} active {% endif %}">
        <a class="nav-link" href="{% url 'influencer_profile' %}">Profile</a>
    </li>
</ul>