{% load static %}
<ul class="navbar-nav ml-auto">
    <li class="nav-item {% if menu == 'home' %} active {% endif %}">
        <a class="nav-link" href="#">Home </a>
    </li>
    <li class="nav-item {% if menu == 'contracts' %} active {% endif %}">
        <a class="nav-link" href="{% url 'influencer_contracts' %}">Contracts</a>
    </li>
    <!-- <li class="nav-item {% if menu == 'discussions' %} active {% endif %}">
        <a class="nav-link" href="{% url 'influencer_discussions' %}">Discussions</a>
    </li> -->
    <li class="nav-item {% if menu == 'invitations' %} active {% endif %}">
        <a class="nav-link" href="{% url 'influencer_invitations' %}">Invitations</a>
    </li>
    <li class="nav-item {% if menu == 'messages' %} active {% endif %}">
        <a class="nav-link" href="{% url 'messages' %}">Discussions</a>
    </li>
    <li class="nav-item {% if menu == 'profile' %} active {% endif %}">
        <a class="nav-link" href="{% url 'influencer_profile' %}">Profile</a>
    </li>
</ul>