<div class="scroll-div" style="height:450px; overflow-x:hidden !important;" class="overflow-auto">
    <div>
        {% if user.is_staff %}
            <a class="btn btn-sm text-white bg-primary float-right" id="open_offer_modal" data-id="{{discussion_id}}"><i class="fa fa-plus"></i>Offer Contract</a><br/>
        {% endif %}
        <div class="message-body mt-2">
            {% include 'messages/message_body.html' %}
        </div>
    </div>
</div>
<div class="row mt-4 ">
    <div class="col-md-11">
        <textarea name="message" cols="500" rows="3" maxlength="4000" placeholder="Your Messages here" class="textarea form-control mb-2" id="id_message"></textarea>
    </div>
    <div class="col-md-1 p-0">
        <a class="btn text-white bg-success disabled" id="send_btn" data-id="{{discussion_id}}">Send</a>
    </div>
</div>
<div id="offer_modal" class="modal fade" tabindex="-2" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <label for="id_contract_title">Title*</label> <br/>
                <input placeholder="" class="textarea form-control mb-2" id="id_contract_title"/>
                    <div class="invalid-title invalid-feedback">
                        This field is required!
                    </div>
                <label for="id_contract_budget">Terms*</label> <br/>
                    <textarea name="message" cols="500" rows="10" maxlength="4000" placeholder="" class="textarea form-control mb-2" id="id_contract_terms"></textarea>
                    <div class="invalid-terms invalid-feedback">
                        This field is required!
                    </div>
                <label for="id_contract_budget">Budget* </label> <br/>
                    {% if description.campaign.campaign_currency == 'usd' %}${% else %}€{% endif %} <input type="number" id="id_contract_budget"/>
                    <div class="invalid-budget invalid-feedback">
                        This field is required!
                    </div>
                    <div class="invalid-budget-number invalid-feedback">
                        This field must be number!
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn text-white bg-primary" id="offer_btn" data-id="{{discussion_id}}">Offer Contract</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(".scroll-div").scrollTop($(".scroll-div").prop("scrollHeight"));

        $('#id_message').on('keyup', function(){
            if ($(this).val() === ""){
                $('#send_btn').addClass('disabled');
            }else {
                $('#send_btn').removeClass('disabled');
            }
        })

        $('#send_btn').on('click', function(){
            if($(this).hasClass('disabled'))
                return false;
            var message_type = 'IA';

            {% if not user.is_influencer %}
                message_type = 'AI';
            {% endif %}

            $.ajax({
                url: "/messages/channels/create",
                method: "post",
                data: {
                    'discussion_id': $(this).attr('data-id'),
                    'content': $("#id_message").val().replace(/\n\r?/g, '<br />'),
                    'type': message_type,
                },
                success: function(data) {
                    $("#id_message").val("");
                    $('#send_btn').addClass('disabled');
                    $(".message-body").html(data);
                    $(".scroll-div").scrollTop($(".scroll-div").prop("scrollHeight"));
                }
            })
        });

        $("#open_offer_modal").on('click', function(){
            $(".invalid-terms").css('display', 'none');
            $(".invalid-budget").css('display', 'none');
            $(".invalid-budget-number").css('display', 'none');
            $(".invalid-title").css('display', 'none');
            $("#id_contract_title").val("")
            $("#id_contract_terms").val("")
            $("#id_contract_budget").val("")
            $("#offer_modal").modal('show');
        })

        $("#offer_btn").on('click', function(){
            if ($("#id_contract_title").val() == "") {
                $(".invalid-title").css('display', 'block');
                return false;
            }

            if ($("#id_contract_terms").val() == "") {
                $(".invalid-terms").css('display', 'block');
                return false;
            }

            if ($("#id_contract_budget").val() == "") {
                $(".invalid-budget").css('display', 'block');
                return false;
            }

            if (isNaN($("#id_contract_budget").val())) {
                $(".invalid-budget-number").css('display', 'block');
                return false;
            }

            var currency = '$';
            {% if description.campaign.campaign_currency == 'eur' %}
                currency = '€';
            {% endif %}

            var contract_offer_message = 'Contract <span class="text-info">' + $("#id_contract_title").val() + '</span> offered!<br/><br/>Terms: ' +
                                        $("#id_contract_terms").val() + '<br/> Budget: ' +
                                        currency + $("#id_contract_budget").val();

            $.ajax({
                url: "/messages/channels/create",
                method: "post",
                data: {
                    'discussion_id': $(this).attr('data-id'),
                    'content': contract_offer_message,
                    'title': $("#id_contract_title").val(),
                    'terms': $("#id_contract_terms").val(),
                    'type': 'CO',
                    'budget': $("#id_contract_budget").val(),
                },
                success: function(data) {
                    $("#id_message").val("");
                    $('#send_btn').addClass('disabled');
                    $(".message-body").html(data);
                    $(".scroll-div").scrollTop($(".scroll-div").prop("scrollHeight"));
                    $("#offer_modal").modal('hide');
                }
            })
        })
    });
</script>