<div style="font-family:initial;">
    <h4>Campaign Details</h4>
    <span class="message-campaign-brief">Brand Name:</span> {{ description.brand_name }}<br>
    <span class="message-campaign-brief">Brand Category:</span> {% for category in description.brand_category %} {{category.0}} {% endfor %}<br/>
    <span class="message-campaign-brief">Brand Attributes:</span> {{ description.brand_attributes }}<br/>
    <span class="message-campaign-brief">Key Selling Point:</span> {{ description.key_selling_point }}<br/>
    <span class="message-campaign-brief">Brief:</span> {{ description.campaign_brief}}<br/>
    <span class="message-campaign-brief">Location:</span> {% for ll in description.location %} {{ll}} {% empty %} All over the world {% endfor %}<br/>
</div>
{% for channel_message in channel_messages %}
<div class="row mt-2">
    <div class="col-md-12" style="font-family:initial;{% if channel_message.sent_by == user %} text-align: right;{% endif %}">
        <div class="row">
            <div class="col-md-6 {% if channel_message.sent_by == user %}offset-md-6 mr-1 text-success{% endif %}">
                {% if channel_message.sent_by != user %}
                <span class="channel-user">
                    {{channel_message.sent_by.first_name|slice:"0:1"|upper}}{{channel_message.sent_by.last_name|slice:"0:1"|upper}}
                </span>  
                <span>{{channel_message.sent_by.first_name|title }} {{channel_message.sent_by.last_name|title }}</span>,
                {% endif %}
                &nbsp;<small>{{ channel_message.sent_at|date:'d M H:i' }}</small>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-10 {% if channel_message.sent_by  == user %}offset-md-2{% endif %}">
                <div class="message {% if channel_message.sent_by  != user %}received-message {% else %}sent-message mr-4{% endif %}" style="max-width:inherit;">
                    <p class=" message-row" data-id="{{channel_message.id}}">{{ channel_message.content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}