{% extends 'layouts/dashboard.html' %}
{% block content %}
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card" style="height:650px;">
                    <div class="card-header">
                        <h3>Discssions</h3>
                    </div>
                    <div class="card-body d-flex py-2 px-2" style="height: 550px;">
                        <div class="col-2 border-1 border-right overflow-auto p-0" style="height:550px; overflow-x:hidden;">
                            {% for discussion in discussions %}
                                <div class="d-flex discussion " style="height: 80px; cursor:pointer;" data-id="{{discussion.id}}">
                                    <div style="width:40px;" class="align-self-center">
                                        <i class="fa fa-user" style="font-size:40px;"></i> 
                                    </div>
                                    <div class="ml-2 flex-column">
                                        <div>
                                            <small class="font-weight-bolder">
                                                {% if user.is_influencer %}
                                                    {{ discussion.campaign.agent.first_name|title }} {{ discussion.campaign.agent.last_name|title }}
                                                {% else %}
                                                    {{ discussion.influencer.user.first_name|title }} {{ discussion.influencer.user.last_name|title }}
                                                {% endif %}
                                            </small>
                                        </div>
                                        <div style="width:100%;">
                                            <small>
                                                {{ discussion.campaign.brand_name }}, 
                                                {% for brand_category in discussion.campaign.brand_category %}
                                                    {{ brand_category.0 }} &nbsp;
                                                {% endfor %}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-10 message-channel" hidden style="height:550px;">
                            {% include 'messages/channel.html' %}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function(){

        $.ajaxSetup({
            headers:
                { 'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() }
        });

        {% if discussion_id %}
            $("div[data-id='"+{{discussion_id}}+"'").addClass('discussion-active');

            $.ajax({
                url: "/messages/channels/" + {{discussion_id}},
                success: function(data){
                    $(".message-channel").removeAttr('hidden');
                    $(".message-channel").html(data);
                }
            });
        {% endif %}

        $(".discussion").on('click', function(){
            $(".discussion-active").removeClass('discussion-active')
            $(this).addClass('discussion-active');

            $.ajax({
                url: "/messages/channels/" + $(this).attr('data-id'),
                success: function(data){
                    $(".message-channel").removeAttr('hidden');
                    $(".message-channel").html(data);
                }
            });
        })
    });
</script>
{% endblock %}