{% extends 'layouts/dashboard.html' %}
{% block content %}
    {% csrf_token %}
    <div class="container">
        <div id="agreement_modal" class="modal fade" tabindex="-2" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <label for="id_contract_comment">Comment*</label> <br/>
                            <textarea name="message" cols="500" rows="10" maxlength="4000" placeholder="" class="textarea form-control mb-2" id="id_contract_comment"></textarea>
                            <div class="invalid-contract-agreement invalid-feedback">
                                This field is required!
                            </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-end">
                        <button type="button" class="btn text-white bg-primary contract-agreement-btn" id="accept_contract_btn" data-id="">Accept</button>
                        <button type="button" class="btn btn-secondary contract-agreement-btn" id="decline_contract_btn" data-id="">Decline</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card" style="height:650px;">
                    <div class="card-header">
                        <h3>Discussions</h3>
                    </div>
                    <div class="card-body d-flex py-2 px-2" style="height: 550px;">
                        <div class="col-2 border-1 border-right overflow-auto p-0" style="height:550px; overflow-x:hidden;">
                            {% for discussion in discussions %}
                                <div class="d-flex discussion " style="height: 80px; cursor:pointer;" data-id="{{discussion.id}}">
                                    <div style="width:40px;" class="align-self-center">
                                        <i class="fa fa-user" style="font-size:40px;"></i> 
                                    </div>
                                    <div class="ml-2 flex-column">
                                        <div>
                                            <small class="font-weight-bolder">
                                                {% if user.is_influencer %}
                                                    {{ discussion.campaign.agent.first_name|title }} {{ discussion.campaign.agent.last_name|title }}
                                                {% else %}
                                                    {{ discussion.influencer.user.first_name|title }} {{ discussion.influencer.user.last_name|title }}
                                                {% endif %}
                                            </small>
                                        </div>
                                        <div style="width:100%;">
                                            <small>
                                                {{ discussion.campaign.brand_name }}, 
                                                {% for brand_category in discussion.campaign.brand_category %}
                                                    {{ brand_category.0 }} &nbsp;
                                                {% endfor %}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-10 message-channel" hidden style="height:550px;">
                            {% include 'messages/channel.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function(){

        $.ajaxSetup({
            headers:
                { 'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() }
        });

        {% if discussion_id %}
            $("div[data-id='"+{{discussion_id}}+"'").addClass('discussion-active');

            $.ajax({
                url: "/messages/channels/" + {{discussion_id}},
                success: function(data){
                    $(".message-channel").removeAttr('hidden');
                    $(".message-channel").html(data);
                }
            });

        {% endif %}

        $(".discussion").on('click', function(){
            $(".discussion-active").removeClass('discussion-active');
            $(this).addClass('discussion-active');

            $.ajax({
                url: "/messages/channels/" + $(this).attr('data-id'),
                success: function(data){
                    $(".message-channel").removeAttr('hidden');
                    $(".message-channel").html(data);
                }
            });
        });

        $(".contract-agreement-btn").on('click', function() {
            if ($("#id_contract_comment").val() == "" ) {
                $(".invalid-contract-agreement").css('display', 'block');
                return false;
            }

            var agreement = 1;
            if ($(this).attr('id') == 'decline_contract_btn') {
                agreement = 0;
            }

            $.ajax({
                url: "/campaigns/contracts/offer/" + $(this).attr('data-id') + "/agreement",
                data: {
                    'agreement' : agreement,
                    'comment' : $("#id_contract_comment").val(),
                    'message_id' : $(this).attr('data-message'),
                },
                method: 'post',
                success: function(data){
                    $("#agreement_modal").modal('hide');
                    $(".message-body").html(data);
                }
            })

        });
    });

    function contract_agree(e) {
        {% if user.is_influencer %}
            var contract_id = $(e).data("id");
            var message_id = $(e).parent().attr('data-id');
            $("#accept_contract_btn").attr("data-id", contract_id);
            $("#decline_contract_btn").attr("data-id", contract_id);
            $("#accept_contract_btn").attr("data-message", message_id);
            $("#decline_contract_btn").attr("data-message", message_id);
            $(".invalid-contract-agreement").css('display', 'none');
            $("#agreement_modal").modal('show');
        {% endif %}
    }
</script>
{% endblock %}