{% for channel_message in channel_messages %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2 {% if channel_message.sent_by_id != user.id %}text-success{% endif %}">
                <span class="channel-user">
                    {{channel_message.sent_by.first_name|slice:"0:1"|upper}}{{channel_message.sent_by.last_name|slice:"0:1"|upper}}
                </span>  
                <span>{{channel_message.sent_by.first_name|title }} {{channel_message.sent_by.last_name|title }}</span>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-10 ">
                <p class="ml-5 message-row" data-id="{{channel_message.id}}">{{ channel_message.content|safe }}</p>
            </div>
            <div class="col-md-2">
                <small>{{ channel_message.sent_at|date:'d M H:i' }}</small>
            </div>
        </div>
    </div>
</div>
{% endfor %}